* {
    box-sizing: border-box;
}
/* Style the body */
body {
	font-family: Arial;
	margin: 0;
	background-color: #000000;
}
/* Header/logo Title */
.header {
	padding: 20px;
	text-align: center;
	color: #EBEBEB;
}
/* Style the top navigation bar */
.navbar {
	padding: 10px;
}

/* Column container */
.row {
	display: flex;
}
/* Sidebar/left column */
.side {
	flex: 1 1 30%;
	background-color: #041a33;
	padding: 20px;
}
/* Main column */
.main {
	flex: 70%;
	padding: 20px;
}
/* Footer */
.footer {
	padding: 15px;
	text-align: center;
}
p, h1, h2, h3, h4, h5 {
	color: #EEF4ED;
}
.row img {
	border-radius: .375rem;
	align-self: center;
}
/* boxes */
.pink-box {
	background-color: #F45B69;
	color: #EBEBEB;
	border-radius: .375rem;
	width: 100%;
	padding: 15px;
}
.blue-box {
	background-color: #041a33;
	color: #EBEBEB;
	border-radius: .375rem;
	width: 100%;
	padding: 15px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
	.row, .navbar {
		flex-direction: column;
		max-width: auto;
	}
	.side {
		display: flex;
		flex-wrap: wrap;
	}
	.navbar a {
		text-align: center;
	}
}
.pink-button {
    background: #041a33;
    color: #EBEBEB;
    font-style: normal;
    text-decoration: none;
    border: 0;
    border-radius: .375rem;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
	
}
.pink-button:not(:disabled):hover {
    transform: scale(1.05);
}
.pink-button:not(:disabled):hover:active {
	transform: scale(1.05) translateY(.125rem);
}
.pink-button:not(:disabled):active {
    transform: translateY(.125rem);
}
.blue-button {
	background: #041a33;
	color: #EBEBEB;
	font-style: normal;
	text-decoration: none;
	border: 0;
	border-radius: .375rem;
	cursor: pointer;
	display: inline-block;
	padding: 15px;
}
.blue-button:not(:disabled):hover {
	transform: scale(1.05);
}
.blue-button:not(:disabled):hover:active {
	transform: scale(1.05) translateY(.125rem);
}
.blue-button:not(:disabled):active {
	transform: translateY(.125rem);
}
/* Style the navigation bar links */
.blue-button a {
	color: #EBEBEB;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
/* Change color on hover */
.blue-button a:hover {
	background-color: #ddd;
	color: black;
}