<div class="footer">
    <p>Developed and maintained by Cadet Tools</p>
    <p>
        This website is an unofficial resource hub for cadets. Materials provided are from public or official sources and may be adapted for educational use. This site is not affiliated with or endorsed by USAF, AFROTC, AFJROTC, or CAP.
    </p>
</div>
<!--
<div class="footer">
    <h5>Training Resources</h5>
    <ul>
        <li><a href="https://www.gocivilairpatrol.com/media/cms/DC_Instructor_Guide__Ch_14_8FDB94A73A003.pdf" target="_blank">Instructor Guide (AFJROTC)</a></li>
        <li><a href="https://static.e-publishing.af.mil/production/1/af_a1/publication/dafpam34-1203/dafpam34-1203.pdf" target="_blank">CAPP 60-33 Civil Air Patrol Drill & Ceremonies</a></li>
        <li><a href="https://www.gocivilairpatrol.com/media/cms/CAPP6020_5_AUG_16_07A0C6200BA4C.pdf" target="_blank">DAFPAM 34-1203 Air Force Drill & Ceremonies</a></li>

        <li><a href="https://www.gocivilairpatrol.com/members/publications/indexes-regulations-and-manuals-1700" target="_blank">Indexes & Regulations</a></li>
        <li><a href="https://www.gocivilairpatrol.com" target="_blank">CAP National Website</a></li>
    </ul>
</div>
-->
<div class="footer-end">
    <p>Unofficial reference tool - for educational purposes only. Always consult official guidance first.</p>
</div>