<div class="footer">
    <h5>CAPR 39-1</h5>
    <p>Civil Air Patrol Uniform Regulation. Dated: 16 April 2025.</p>
    <ul>
        <li><a href="https://www.gocivilairpatrol.com/members/publications/indexes-regulations-and-manuals-1700"
                target="_blank">Indexes & Regulations</a></li>
        <li><a href="https://www.gocivilairpatrol.com" target="_blank">CAP National Website</a></li>
    </ul>
</div>
<div class="footer-end">
    <p>Unofficial reference tool - for educational purposes only. Always consult Civil Air Patrol for official
        guidance.
    </p>
</div>