<div class="container-inner">
    <ul class="main-nav">
        
        <li><a href="/../index.html">About</a></li>

        <li class="dropdown">
            <a href="#">Cadet Info</a>
            <ul class="dropdown-content">
                <li class="dropdown-sub">
                    <a href="#">Uniforms</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="/pages/uniforms/faq.html">FAQ</a></li>
                        <li><a href="/pages/uniforms/inspections.html">Inspection Scores</a></li>
                        <li><a href="/pages/uniforms/pictures.html">Uniforms</a></li>
                        <li><a href="/pages/uniforms/hgu.html">CAP Honor Guard Uniforms</a></li>
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="#">Drill & Ceremonies</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="/pages/drill/faq.html">FAQ</a></li>
                        <li><a href="/pages/drill/inspections.html">Open Ranks Inspections</a></li>
                        <li><a href="/pages/drill/diagrams.html">Diagrams</a></li>
                        <li><a href="/pages/guides/bugleCalls.html">Bugle Calls</a></li>
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="#">Leadership Resources</a>
                    <ul class="sub-dropdown-content">
                        
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="#">Events & Schools</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="#">Encampments</a></li>
                        <li><a href="#">Leadership Schools</a></li>
                        <li><a href="#">Drill Schools</a></li>
                        <li><a href="#">Weekend Ideas</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">8 Ball Toolkit</a>
            <ul class="dropdown-content">
                
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">Guides</a>
            <ul class="dropdown-content">
                <li><a href="#">Videos</a></li>
                <li class="dropdown-sub">
                    <a href="#">Documents</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="#">PDFs</a></li>
                        <li><a href="#">Word Docs</a></li>
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="#">CAP Blogs & Chatrooms</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="#">CadetStuff</a></li>
                        <li><a href="http://captalk.net/">CAPTalk</a></li>
                        <li><a href="https://www.reddit.com/r/civilairpatrol/">Reddit</a></li>
                        <li><a href="https://discord.gg/catT8yEfg">Discord</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">Tools & Builders</a>
            <ul class="dropdown-content">
                <li><a href="/pages/uniforms/builder.html">Uniform Builder</a></li>
                <li><a href="https://mcchord.org">Ribbon Builder</a></li>
                <li><a href="/pages/guides/builder.html">Bugle Call Builder</a></li>
                <li><a href="/pages/drill/formations.html">Formation Builder</a></li>
            </ul>
        </li>

        
    </ul>
</div>