<div class="container-inner">
    <button class="nav-toggle" id="navToggle">☰</button>

    <ul class="main-nav" id="navMenu">
        
        <li class="dropdown">
            <a href="#">CADET INFO</a>
            <ul class="dropdown-content">
                <li class="dropdown-sub">
                    <a href="/pages/uniforms/index.html">Uniforms</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="/pages/uniforms/faq.html">FAQ</a></li>
                        <li><a href="/pages/uniforms/inspections.html">Inspections</a></li>
                        <li><a href="/pages/uniforms/pictures.html">Uniforms</a></li>
                        <li><a href="/pages/uniforms/hgu.html">Honor Guard</a></li>
                        <li><a href="/pages/404.html">Color Guard</a></li>
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="/pages/drill/index.html">Drill & Ceremonies</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="/pages/drill/faq.html">FAQ</a></li>
                        <li><a href="/pages/drill/inspections.html">Open Ranks Inspections</a></li>
                        <li><a href="/pages/drill/diagrams.html">Drill Diagrams</a></li>
                        <li><a href="/pages/guides/bugleCalls.html">Bugle Calls</a></li>
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="/pages/leadership/index.html">Leadership</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="/pages/404.html">Adult Staff</a></li>
                        <li><a href="/pages/404.html">Cadet Staff & Cadre</a></li>
                        <li><a href="/pages/404.html">Structure & Organization</a></li>
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="/pages/aerospace/index.html">Aerospace</a>
                    <ul class="sub-dropdown-content">
                        
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="/pages/emergencyServices/index.html">Emergency Services</a>
                    <ul class="sub-dropdown-content">
                        
                    </ul>
                </li>
                <li class="dropdown-sub">
                    <a href="/pages/events/index.html">Events</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="/pages/404.html">Encampments</a></li>
                        <li><a href="/pages/404.html">Leadership Schools</a></li>
                        <li><a href="/pages/404.html">Drill Schools</a></li>
                        <li><a href="/pages/404.html">Weekend Ideas</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">TOOLKITS</a>
            <ul class="dropdown-content">
                <li><a href="https://www.gocivilairpatrol.com/programs/cadets/cpofficer/great-start" target="_blank">New Cadet Guide</a></li>
                <li><a href="/pages/guides/heraldry.html">Heraldry & Patches</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">GUIDES</a>
            <ul class="dropdown-content">
                <li><a href="/pages/guides/youtube.html">Videos</a></li>
                <li><a href="/pages/guides/documents.html">Documents</a></li>
                <li class="dropdown-sub">
                    <a href="/pages/404.html">Blogs & Chatrooms</a>
                    <ul class="sub-dropdown-content">
                        <li><a href="https://CadetStuff.org" target="_blank">CadetStuff</a></li>
                        <li><a href="http://captalk.net/" target="_blank">CAPTalk</a></li>
                        <li><a href="https://www.reddit.com/r/civilairpatrol/" target="_blank">Reddit</a></li>
                        <li><a href="https://discord.gg/eXPsAuTGQF" target="_blank">Discord</a></li>
                    </ul>
                </li>
                <li><a href="/pages/guides/suggestions.html">Suggestions & Feedback</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#">BUILDERS</a>
            <ul class="dropdown-content">
                <li><a href="/pages/builders/uniform+.html">Uniforms+</a></li>
                <li><a href="https://mcchord.org" target="_blank">McChord Ribbons</a></li>
                <li><a href="/pages/builders/bugleCallScheduler.html">Bugle Calls</a></li>
                <li><a href="/pages/builders/formationBuilder.html">Formations</a></li>
            </ul>
        </li>

        <button id="darkModeToggle" class="dark-toggle">🌙</button>

    </ul>
</div>