body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    margin-left: 3em;
    margin-left: 3em;
}

header {
    background-color: #14213d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #e5e5e5;
    color: #14213d;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #14213d;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f77f00;
}

section {
    padding: 20px;
}

footer {
    background-color: #14213d;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* test {
color: #14213d;
color: #f77f00;
color: #e5e5e5;
} */